@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

body {
  font-family: 'OpenSans-Regular';
  background-color: $black;
}

h1{
  margin: 0;
    @extend %whiteFont;
  font-size: 36px;
  width: 33%;
}

h2 {
  margin: 0 10px 10px 10px;
    @extend %whiteFont;
  font-size: 28px;
  padding-bottom: 5px;
  border-bottom: 1px solid $primary;
  display: inline-block;
}

h3 {
  margin: 20px 10px 10px 10px;
    @extend %whiteFont;
  font-size: 20px;
}

h4 {
  margin: 0;
    @extend %whiteFont;
  font-size: 16px;
}

p {
  margin: 10px;
    @extend %whiteFont;
  font-size: 16px;
}

.logo {
  @include screen('x-small'){
    height: 114px;
    width: 150px;
    margin-top: 15px;
  }
  @include screen('small'){
    height: 229px;
    width: 300px;
    margin-top: 15px;
  }
  @include screen('medium'){
    height: 130px;
    width: 170px;
    margin-top: 15px;
  }
  @include screen('large'){
    height: 191px;
    width: 250px;
    margin-top: 15px;
  }
  @include screen('x-large'){
    height: 229px;
    width: 300px;
    margin-top: 15px;
  }
}

.slogan {
  @include screen('x-small'){
    float: right;
    width: 190px;
  }
  @include screen('small'){
    float: right;
    width: 190px;
  }
  @include screen('medium'){
    float: right;
    margin-top: 35px;
    width: 350px;
  }
  @include screen('large'){
    float: right;
    margin-top: 35px;
    width: 350px;
  }
  @include screen('x-large'){
    float: right;
    margin-top: 35px;
    width: 350px;
  }
}

.sloganMessage {
  @include screen('medium'){
    font-size: 24px;
  }
  @include screen('large'){
    font-size: 24px;
  }
  @include screen('x-large'){
    font-size: 24px;
  }
}

#app {
  @include screen('medium'){
    width: 75%;
    margin: 0 auto;
  }
  @include screen('large'){
    width: 75%;
    margin: 0 auto;
  }
  @include screen('x-large'){
    width: 65%;
    margin: 0 auto;
  }
}
