  .progressBarContainer {
    position: relative;
    background: $white;
    height: 5px;
    vertical-align: middle;
  }

  .progressBar {
      background: $green;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
  }

  %audioPlayerButton {
    background-repeat: no-repeat;
    height: 50px;
    width:53px;
    display:inline-block;
  }

  .stop {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/stop.png');
  }

  .play {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/play.png');
  }

  .pause {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/pause.png');
  }

  .download {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/download.png');
  }
