.audioPlayer{
  width: 275px;
  margin: 20px auto 0;
  padding: 15px 15px 0px 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px $green;
}

  .progressBarContainer {
    position: relative;
    background: $white;
    opacity: 0.9;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .progressBar {
      background: $green;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-radius: 5px;
  }

  .currentTime {
    @extend %whiteFont;
    float: left;
    margin-top: 5px;
  }

  .duration {
    @extend %whiteFont;
    float: right;
    margin-top: 5px;
  }

  .audioPlayerButtonsContainer{
    clear: both;
  }

  %audioPlayerButton {
    margin-top: 5px;
    background-repeat: no-repeat;
    height: 50px;
    width:53px;
    display:inline-block;
    cursor: pointer;
  }

  .stop {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/stop.png');
  }

  .play {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/play.png');
  }

  .pause {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/pause.png');
  }

  .download {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/download.png');
  }

$thumb-color: $green;
$thumb-radius: 10px;
$thumb-height: 20px;
$thumb-width: 20px;
$track-color: $white;
$track-width: 100px;
$track-height: 2px;
$track-radius: 5px;

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb($adjustment: 0) {
  background: $thumb-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height + $adjustment;
  width: $thumb-width + $adjustment;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: $thumb-height / 2 0;
  width: $track-width;
  padding: 0 0 23px 15px;

  &::-webkit-slider-runnable-track {
    @include track;
    background: $track-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  &::-moz-range-track {
    @include track;
    background: $track-color;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-thumb {
    @include thumb(-4);
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-thumb {
    @include thumb(-4);
    margin-top: $track-height / 4;
  }
}
