.audioPlayer{
  margin-top: 15px;
}

  .progressBarContainer {
    position: relative;
    background: $white;
    height: 5px;
  }

  .progressBar {
      background: $green;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
  }

  .currentTime {
    color: $white;
    opacity: 0.9;
    float: left;
    margin-top: 5px;
  }

  .duration {
    color: $white;
    opacity: 0.9;
    float: right;
    margin-top: 5px;
  }

  .audioPlayerButtonsContainer{
    clear: both;
    text-align: center;
  }

  %audioPlayerButton {
    margin-top: 5px;
    background-repeat: no-repeat;
    height: 50px;
    width:53px;
    display:inline-block;
  }

  .stop {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/stop.png');
  }

  .play {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/play.png');
  }

  .pause {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/pause.png');
  }

  .download {
    @extend %audioPlayerButton;
    background-image: url('../assets/images/download.png');
  }
