.navButton {
  @extend %whiteFont;
  background-color: $black;
  border: none;
  text-align: center;
  margin: 20px 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.navButtonSelected {
  border-bottom: 1px solid $primary;
}

.navButtonContainer {
  float:right;
}

.navHamburger {
  float:right;
}

.navMenu {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: blue;
}

.navMenuItem {

}
