.nav {
  float: right;
}

.navButton {
  color: $white;
  opacity: 0.9;
  background-color: $black;
  border: none;
  height: 50px;
  width: 70px;
  text-align: center;
}

.navButtonSelected {
  color: $white;
  opacity: 0.9;
  background-color: $black;
  border: none;
  height: 50px;
  width: 70px;
  text-align: center;
  border-bottom: 1px solid $green;
}
